body {
    background: #e5f6fd;
    border-radius: 10px;
  }

  /* float 改變欄位排列 */
  .hlist li {
    margin-left: 8%;
    list-style-type: none;
    float: left;
    padding: 0 2% ;
  }
  
  #viewer.spreads {
    width: 75%;
    height: auto;
    position: relative;
    margin: auto;
  }
  
  #viewer.spreads .epub-view > iframe {
      background: white;
  }

  @media (min-width: 0px) {
    #prev {
      left: 0;
    }
  
    #next {
      right: 0;
    }
  }
  
  .arrow {
    position: fixed;
    top: 50%;
    font-size: 64px;
    text-decoration: none;
  }